*{
box-sizing:border-box;
}



body{

margin:0;

background:black;

overflow:hidden;

font-family:
Segoe UI,
sans-serif;

color:white;

}



.room{

width:100vw;

height:100vh;

position:relative;

background:

radial-gradient(
circle at center,
#222,
#000 70%
);

}




/* باران */

.rain{

position:absolute;

inset:0;


background-image:

linear-gradient(
120deg,
transparent 45%,
rgba(255,255,255,.25) 50%,
transparent 55%
);


background-size:

3px 90px;


animation:

rain .4s linear infinite;

}




@keyframes rain{


from{

background-position:0 0;

}


to{

background-position:0 90px;

}

}





.content{

height:100%;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

position:relative;

z-index:5;

}





#hint{

font-size:30px;

font-weight:300;

opacity:.7;

}




/* پیانو */


.piano{

display:flex;

margin-top:50px;

}



.key{


width:70px;

height:220px;


background:

linear-gradient(
white,
#ddd
);


border:

2px solid #111;


border-radius:

0 0 12px 12px;


cursor:pointer;


transition:.15s;


}




.key:hover{

box-shadow:

0 0 25px cyan;

}



.key.active{


transform:

translateY(15px);


background:

#8df;


}





/* پیام نهایی */


#message{


position:absolute;


opacity:0;


transform:

scale(.3);


transition:

3s;


text-align:center;


}




#message.show{


opacity:1;


transform:

scale(1);


}




#message h2{


font-size:60px;


text-shadow:

0 0 20px cyan,
0 0 50px white;


}





/* ذرات نور */


.particle{


position:absolute;


width:5px;

height:5px;


background:white;


border-radius:50%;


animation:

float 6s linear infinite;


}




@keyframes float{


from{

transform:
translateY(100vh);

opacity:0;

}


50%{

opacity:1;

}


to{

transform:
translateY(-20vh);

opacity:0;

}

}





@media(max-width:600px){


.key{

width:40px;

height:140px;

}



#message h2{

font-size:35px;

}



#hint{

font-size:20px;

}



}
